Mobile Application/Prototype/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.105/Cab9Service/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.105/Cab9Service/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.105/Cab9Service/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateRoadDistance_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRoadDistance" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateRoadDistance_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRoadDistanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CabBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CabBooking" />
  </wsdl:message>
  <wsdl:message name="IService_CabBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CabBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AuthenticateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_AuthenticateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AuthenticateDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateDriver" />
  </wsdl:message>
  <wsdl:message name="IService_AuthenticateDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateDriverResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateRoadDistance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalculateRoadDistance" message="tns:IService_CalculateRoadDistance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalculateRoadDistanceResponse" message="tns:IService_CalculateRoadDistance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CabBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CabBooking" message="tns:IService_CabBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CabBookingResponse" message="tns:IService_CabBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AuthenticateCustomer" message="tns:IService_AuthenticateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AuthenticateCustomerResponse" message="tns:IService_AuthenticateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AuthenticateDriver" message="tns:IService_AuthenticateDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AuthenticateDriverResponse" message="tns:IService_AuthenticateDriver_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRoadDistance">
      <soap:operation soapAction="http://tempuri.org/IService/CalculateRoadDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CabBooking">
      <soap:operation soapAction="http://tempuri.org/IService/CabBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCustomer">
      <soap:operation soapAction="http://tempuri.org/IService/AuthenticateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateDriver">
      <soap:operation soapAction="http://tempuri.org/IService/AuthenticateDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://192.168.0.105/Cab9Service/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>