Mobile Application/ScheduledTaskAgent1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.6/Cab9Service/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRoadDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRoadDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateRoadDistanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CabBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BookingDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="BookingOrigin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BookingDestination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BookingCabType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SourceLat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SourceLong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DestinationLat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DestinationLong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CabBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CabBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateDriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateDriverResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerRegistrationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NIC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerRegistrationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerRegistrationRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CabID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CabIDforDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CabIDforDriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CabIDforDriverResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForDriverBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CabID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForDriverBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForDriverBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddresstoCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddresstoCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddresstoCoordinatesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeAvailableIfReached">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CabID" type="xs:int" />
        <xs:element minOccurs="0" name="DestinationLat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DestinationLong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeAvailableIfReachedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeAvailableIfReachedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCustomerBookingsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBookingTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingID" type="xs:int" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BookingStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApproximateFare" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForDriverCancelledBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CabID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForDriverCancelledBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForDriverCancelledBookingsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailsForCancelledBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailsForCancelledBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetailsForCancelledBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookingAndCabStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingID" type="xs:int" />
        <xs:element minOccurs="0" name="CabID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookingAndCabStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBookingAndCabStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>